.navbar {
  background-color: #54301a;
}

a.nav-link,
a.nav-link:visited {
  color: #e0dfdf;
}

.nav-item,
a.nav-link:active,
a.nav-link:hover,
.navbar-brand,
.navbar-brand:visited {
  color: white;
}

@media (max-width: 991px) {
  .navbar-nav {
    height: 100vh !important;
  }
}

@media (min-width: 991px) {
  .navbar.navbar-expand-lg {
    padding-right: 6em;
    padding-left: 6em;
  }
}

@media (max-width: 991px) {
  .navbar.navbar-expand-lg {
    padding-right: 1.25em;
    padding-left: 1.25em;
  }

  .nav-item {
    font-size: 24px;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand {
  font-size: 32px;
}
