@media (min-width: 991px) {
  .container-lg {
    padding-left: 3em;
    padding-right: 3em;
  }
}

@media (max-width: 991px) {
  .container-lg {
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}
